@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: poppins;
}

* {
  margin: 0;
  padding: 0;
}

.form {
  margin-left: 10vw;
  padding-top: 30px;
  padding-bottom: 50px;
}

h1 {
  margin-left: 10vw;
  font-size: 20pt;
  padding-top: 50px;
  font-weight: 500;
  color: #d1912f;
}
